<link href="frontend/view/css/login.css" rel="stylesheet" type="text/css" />

<div class="login-wrap primera" ng-show="log_reg">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <form id="login__form" method="post">
                <div class="form__content">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="user_login" class="label">Username</label>
                            <input id="user_login" type="text" class="input" name="user_login" autofocus ng-model="user_login">
                            <font color="red">
                                <span id="error_user_login" class="error"></span>
                            </font>
                        </div>
                        <div class="group">
                            <label for="pass_login" class="label">Password</label>
                            <input id="pass_login" type="password" class="input" data-type="password" name="passwd" ng-model="passwd">
                            <font color="red">
                                <span id="error_pass_login" class="error"></span>
                            </font>
                        </div>
                        <div class="group">
                            <input type="button" class="button" id="login" value="Enter" ng-click="login()">
                        </div>
                        <div class="hr"></div>
                        <div class="group">
                            <input type="button" class="button" id="log_google" value="Log Google">
                        </div>
                        <div class="group">
                            <input type="button" class="button" id="log_github" value="Log GitHub">
                        </div>
                        <div class="foot-lnk">
                            <a class="recovery" ng-click="recovery()">Forgot Password?</a>
                        </div>
                    </div>
                </div>
            </form>
            <form id="register__form" method="post">
                <div class="form__content">
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input" name="user" value="" ng-model="user_register">
                            <font color="red">
                                <span id="error_username" class="error"></span>
                            </font>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" name="pass" value="" ng-model="pass_register">
                            <font color="red">
                                <span id="error_password" class="error"></span>
                            </font>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="email" type="email" class="input" name="email" value="" ng-model="email_register">
                            <font color="red">
                                <span id="error_email" class="error"></span>
                            </font>
                        </div>
                        <div class="group">
                            <input class="button" id="register" type="button" value="Enter" ng-click="register()" />
                        </div>
                        <div class="hr"></div>
                        <div class="group">
                            <input type="button" class="button" id="log_google" value="Log Google">
                        </div>
                        <div class="group">
                            <input type="button" class="button" id="log_github" value="Log GitHub">
                        </div>
                        <div class="foot-lnk">
                            <label for="tab-1">Already Member?</a>
            </div>
          </div>
        </div>
      </form>
        </div>
    </div >
</div>
<div class="login-wrap recovery_wrap" style="padding: 7em;" ng-show="recovery_show">
    <div class="login-form">
        <form id="recovery__form" method="post">
            <div class="form__content">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="email_recovery" class="label">Email</label>
                            <input id="email_recovery" type="email" class="input" name="email_recovery" value="" ng-model="email_recovery">
                            <font color="red">
                                <span id="error_email_recovery" class="error"></span>
                            </font>
                        </div>
                        <div class="group">
                            <label for="pass_recovery" class="label">Password Recovery</label>
                            <input id="pass_recovery" type="password" class="input" data-type="password" name="passwd_recovery" ng-model="pass_recovery">
                            <font color="red">
                                <span id="error_pass_recovery" class="error"></span>
                            </font>
                        </div>
                        <div class="group">
                            <input type="button" class="button" id="recovery" value="Send Recovery" ng-click="send_recovery()">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>