<meta charset="utf-8">
<title>Concesionario</title>




<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->


<body>

    <data-owl-carousel id="main-carousel" class="owl-carousel" carousel-type="{type:'main'}">
        <div owl-carousel-item="" ng-repeat="item in carousel_scope" class="item">
            <div id="{{item.brand_id}}">
                <img src="frontend/{{item.brand_image}}" ng-click="click_carousel(item.id_brand)">
            </div>
        </div>
    </data-owl-carousel>

    <div class="section group" id="containerCategories" ng-repeat="categoria in categoria_scope">
        <div class="grid_1_of_4 images_1_of_4">
            <h3>{{categoria.cat_name}}</h3>
            <a class="estado" id="' + categoria[row].cat_name + '"><img src='frontend/{{categoria.cat_image}}'>
            </a>
            <p>En este apartado usted puede comprar coches de categoria {{categoria.cat_name}}</p>
            <div class="btn">
                <a class="estado link" id="{{categoria.cat_name}}" ng-click="click_cat(categoria.cat_name)"><span><span>Read More</span></span></a>
            </div>
        </div>
    </div>

    <div class="image group" id="containerType" ng-repeat="type in type_scope">
        <div class="grid images_3_of_1">
            <a class="type" id="{{type.type_name}}"><img src="frontend/{{type.type_image}}" alt=""></img>
            </a>
        </div>
        <div class="grid span_2_of_3">
            <h3>{{type.type_name}} </h3>
            <p>En este apartado usted puede comprar coches {{type.type_name}}</p>
            <div class="btn">
                <a class="type link" id="{{type.type_name}}" ng-click="click_type(type.type_name)"><span><span>Read More</span></span></a>
            </div>
            <br>
            <br>
        </div>
    </div>
    </div>

    <div id="featured">
        <div id="prueba" ng-repeat="books in books_scope">
            <br>
            <div id='cont_img'><img src='{{books.thumbnail}}' class='cart' data-toggle='modal' data-target='#exampleModal'></div>
            <div id='list_header'><span id='li_brand'> {{books.title}} </br></span></div>
        </div>
    </div>
    <div id="btnfeatured"></div>
    <div id="nomore"></div>

</body>