<div class="header-bg">
    <div class="wrap">
        <div class="header">
            <div class="logo">
                <a href="#contact"><img src="frontend/view/images/logo.png" alt="" title="logo"></a>
            </div>
            <div class="div_search" style="display: inline; width: 5%; height: 5%;">
                <select class="search_brand">
                    <option value="" disabled selected>Seleccione marca</option>
                    <option ng-repeat="data in brands_search" id="{{data.id_brand}}">{{data.brand_name}}</option>
                </select>
                <select class="search_category">
                    <option value="" disabled selected>Seleccione marca</option>
                    <option ng-repeat="data in brands_search" id="{{data.id_brand}}">{{data.brand_name}}</option>
                </select>
                <input type="text" id="autocom" autocomplete="off" placeholder="City" style="width: 10%;" />
                <div id="search_auto"></div>
                <input type="button" value="search" id="search-btn" class="btna third" style="display: inline;" />
            </div>
            <div class="hdr-nav">
                <ul class="nav">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#shop" id="shop" class="shop">Shop</a></li>
                    <li><a class="hsubs" data-tr="Idioma">Idioma</a>
                        <ul class="subs">
                            <li><a href="#" id="Ingles">Ingles</a></li>
                            <li><a href="#" id="Espanol">Espanol</a></li>
                            <li><a href="#" id="Valenciano">Valenciano</a></li>
                        </ul>
                    </li>
                    <li><a class="hsubs" id="move_login">Indetify</a></li>
                    <div id="lavalamp"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>