<meta charset="utf-8">
<title>Concesionario</title>

<head>
</head>

<body>
    <div class="wrap" style="display: inline-flex; width: 100%;">
        <div class="div-filters">
            <div class="highlight">
                <p>Tus filtros: </p>
                <p ng-repeat="filtros in filtro_scope">{{filtros}}</p>
            </div>
            <div class="filters">
                <div>
                    <br>
                    <select class="filter_type" ng-model="filter_type"> 
                        <option value="" selected disabled>Seleccione tipo</option>
                        <option value="1">Electrico</option>
                        <option value="2">Hibrido</option>
                        <option value="3">Adaptado</option>
                        <option value="4">Gasolina</option>
                        </select>
                    <select class="filter_category" ng-model="filter_category">
                        <option value="" selected disabled>Seleccione categoria</option>
                        <option value="1" >KM0</option>
                        <option value="2">Seminuevo</option>
                        <option value="3">PocosKM</option>
                        </select>
                    <select class="filter_order" ng-model="filter_order">
                        <option value="" selected disabled>Seleccione orden</option>
                        <option value="precio">Precio de mas a menos </option>
                        <option value="km">KM de menos a mas </option>
                        </select>
                </div>
            </div>
            <button class="filter_button button_spinner" id="Button_filter" ng-click="filter_button(filter_type, filter_category, filter_order)">Filter</button>
            <button class="filter_remove" id="Remove_filter" ng-click="filter_remove()">Remove</button>
        </div>
        <div class="image group" id="containerShop" style="display: block; width: 700px;">
            <div infinite-scroll="loadMore()">
                <div id="overlay" ng-repeat="cars in shopAll_scope">
                    <div class="cv-spinner">
                        <div class="page">
                            <section class="section section-md bg-white">
                                <div class="shell">
                                    <div class="range range-50 range-sm-center range-md-left range-md-middle range-md-reverse">
                                        <div class="cell-sm-6 wow fadeInRightSmall">
                                            <div class="thumb-line">
                                                <img src="frontend/{{cars.img}}" alt="" width="531" height="640" ng-show="asd" />

                                                <carousel interval="myInterval" no-wrap="noWrapSlides" ng-show="img_carousel">
                                                    <slide ng-repeat=" slide in img_array_scope ">
                                                        <img ng-src="frontend/{{slide}}" style="margin: auto;">
                                                    </slide>
                                                </carousel>
                                            </div>
                                        </div>
                                        <div class="cell-sm-6">
                                            <div class="box-width-3">
                                                </p><i id="like_{{cars.id}}" class="like_white fa-heart fa-2x" ng-class="{'like_red':cars.like}" ng-click="likes()"></i>
                                                <p class="heading-1 wow fadeInLeftSmall">{{cars.brand_name}}</p>
                                                <article class="quote-big wow fadeInLeftSmall" data-wow-delay=".1s">
                                                    <p class="q">{{cars.modelo}}</p>
                                                    <p class="q">{{cars.precio}}€</p>
                                                    <p class="q">{{cars.cat_name}}</p>
                                                </article>
                                                <div class="divider wow fadeInLeftSmall" data-wow-delay=".2s"></div>
                                                <p class="q">{{cars.type_name}}<i class="fa-thin fa-gas-pump fa-2xl"></i></p>
                                                <p class="wow fadeInLeftSmall" data-wow-delay=".3s">{{cars.puertas}}<i class="fa-solid fa-door-open fa-2xl"></i></p>
                                                <a class="button button-primary-outline button-ujarak button-size-1 wow fadeInLeftSmall link button_spinner" data-wow-delay=".4s" id="{{cars.id}}" ng-click="details()">Read More</a>
                                            </div>
                                        </div>
                            </section>
                            </div>

                            </div>
                        </div>
                    </div>
                    <div ng-show="div_more_cars">
                        <div id="moreCars">
                            <h1>Mas coches</h1>
                            <div id="overlay" ng-repeat="cars in more_cars_scope">
                                <div class="cv-spinner">
                                    <div class="page">
                                        <section class="section section-md bg-white">
                                            <div class="shell">
                                                <div class="range range-50 range-sm-center range-md-left range-md-middle range-md-reverse">
                                                    <div class="cell-sm-6 wow fadeInRightSmall">
                                                        <div class="thumb-line">
                                                            <img src="frontend/{{cars.img}}" alt="" width="531" height="640" />
                                                        </div>
                                                    </div>
                                                    <div class="cell-sm-6">
                                                        <div class="box-width-3">
                                                            <p class="like" id="{{cars.id}}"></p>
                                                            <p class="heading-1 wow fadeInLeftSmall">{{cars.brand_name}}</p>
                                                            <article class="quote-big wow fadeInLeftSmall" data-wow-delay=".1s">
                                                                <p class="q">{{cars.modelo}}</p>
                                                                <p class="q">{{cars.precio}}€</p>
                                                                <p class="q">{{cars.cat_name}}</p>
                                                            </article>
                                                            <div class="divider wow fadeInLeftSmall" data-wow-delay=".2s"></div>
                                                            <p class="q">{{cars.type_name}}<i class="fa-thin fa-gas-pump fa-2xl"></i></p>
                                                            <p class="wow fadeInLeftSmall" data-wow-delay=".3s">{{cars.puertas}}<i class="fa-solid fa-door-open fa-2xl"></i></p>
                                                            <a class="button button-primary-outline button-ujarak button-size-1 wow fadeInLeftSmall link button_spinner" data-wow-delay=".4s" id="{{cars.id}}" ng-click="details()">Read More</a>
                                                        </div>
                                                    </div>
                                        </section>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div id="div-map">
                            <div id="map"></div>
                        </div> -->
                    </div>



</body>